site_name: "molfeat"
site_description: "An all in one package for molecule featurization"
site_url: ""
repo_url: "https://github.com/datamol-io/molfeat"
repo_name: "datamol-io/molfeat"

remote_branch: "gh-pages"
use_directory_urls: false
copyright: Copyright 2020 - 2023 datamol.io

nav:
  - Getting started:
      - What is molfeat?: index.md
      - How to use molfeat?: usage.md
      - Why should you care?: benchmark.ipynb
      - License: license.md

  - Tutorials:
      - Types of featurizers: tutorials/types_of_featurizers.ipynb
      - Add your own:
          - Create your own featurizers: tutorials/add_your_own.ipynb
          - Create a custom modelstore: tutorials/custom_model_store.ipynb
      - Featurizing graphs: tutorials/graphs.ipynb
      - Integrations:
          - Integration with scikit-learn and PyTorch: tutorials/integrations.ipynb
          - Training a GNN with PyG: tutorials/pyg_integration.ipynb
          - Finetuning a pretrained transformer: tutorials/transformer_finetuning.ipynb
      - Save and Load: tutorials/save_and_load.ipynb
      - The Data Cache: tutorials/datacache.ipynb

  - Developers:
      - Contributing: developers/contribute.md
      - Extending molfeat: developers/create-plugin.md
      - Registering your Plugin: developers/register-plugin.md

  - Community:
      - Get involved: community/get_involved.md
      - Community contributions: community/contributions.md

  - API:
      - molfeat.calc: api/molfeat.calc.md
      - molfeat.trans:
          - molfeat.trans.base: api/molfeat.trans.base.md
          - molfeat.trans.fp: api/molfeat.trans.fp.md
          - molfeat.trans.graph: api/molfeat.trans.graph.md
          - molfeat.trans.struct: api/molfeat.trans.struct.md
          - molfeat.trans.concat: api/molfeat.trans.concat.md
          - molfeat.trans.pretrained:
              - Base Pretrained Models: api/molfeat.trans.pretrained.base.md
              - HuggingFace: api/molfeat.trans.pretrained.hf_transformers.md
              - Graphormer: api/molfeat.trans.pretrained.graphormer.md
              - DGL: api/molfeat.trans.pretrained.dgl_pretrained.md
              - FCD: api/molfeat.trans.pretrained.fcd.md
      - molfeat.store: api/molfeat.store.md
      - molfeat.plugins: api/molfeat.plugins.md
      - molfeat.utils: api/molfeat.utils.md
      - molfeat.viz: api/molfeat.viz.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tracking
    - navigation.top

  favicon: images/logo-black.png
  logo: images/logo.svg

# NOTE(cwognum): to customize the material primary and secondary
# color check `docs/assets/css/custom-molfeat.css`.
extra_css:
  - assets/css/custom.css
  - assets/css/custom-molfeat.css
  - assets/css/tweak-width.css

extra_javascript:
  - assets/js/google-analytics.js

markdown_extensions:
  - admonition
  - markdown_include.include
  - pymdownx.emoji
  - pymdownx.highlight
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.details
  # For `tab_length=2` in the markdown extension
  # See https://github.com/mkdocs/mkdocs/issues/545
  - mdx_truly_sane_lists
  - toc:
      permalink: true

plugins:
  - search
  - mkdocstrings:
      watch:
        - molfeat/
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append("docs")
            - sys.path.append("molfeat")
          selection:
            new_path_syntax: true
          rendering:
            show_root_heading: false
            heading_level: 3
            show_if_no_docstring: true

  - mkdocs-jupyter:
      execute: false

  - mike:
      version_selector: true

extra:
  version:
    provider: mike
